<p id="notice"><%= notice %></p>

<h1>Lista Restaurantes</h1>

<div>
  <h2>Usuário: <%= current_user.nome %> CEP: <%= current_user.enderecos.collect(&:cep)[0] %></h2>
</div>

<table>
  <thead>
  <tr>
    <th>Nome</th>
    <th>Tipo</th>
    <th>Distância</th>
    <th>Tempo</th>
    <th>Cardapio</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @lojas.each do |loja| %>
      <tr>
        <td><%= loja.nome %></td>
        <td><%= loja.tipo %></td>
        <td><%=
          url1="https://maps.googleapis.com/maps/api/distancematrix/json?origins=+"+current_user.enderecos.collect(&:cep)[0]
          url2="&destinations=+"+loja.cep
          url3="&mode=bicycling&language=pt-BR&key=AIzaSyBRADWHRl0s_0eIXx7YJL9nwDsjaYGF-iU"
          url = url1+url2+url3
          require 'net/http'
          require 'json'
          result = Net::HTTP.get(URI.parse(url))
          json = JSON.parse(result)
          reviews = json
          reviews['rows'][0]['elements'][0]['distance']['text']
           %></td>
        <td><%= loja.tempo %></td>
        <td><%= link_to 'Show', cardapio_path(loja) %></td>
      </tr>
  <% end %>
  </tbody>
</table>