<%= form_with(model: prato, local: true) do |form| %>
  <% if prato.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(prato.errors.count, "error") %> prohibited this prato from being saved:</h2>

      <ul>
      <% prato.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome, id: :prato_nome %>
  </div>

  <div class="field">
    <%= form.label :descricao %>
    <%= form.text_field :descricao, id: :prato_descricao %>
  </div>

    <div class="field">
      <%= form.collection_select :loja_ids, Loja.all, :id, :nome, include_blank: true %>
    </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
